.text-error{
    color:red;
}

html {
    height: 100%
}

ul.feedbackPanel {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.navbar {
    height: 60px;
}
.navbar-brand img {
    height: 40px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-image: url("../images/digital-waves-2776.jpg");
    background-position: center bottom;
    background-repeat: no-repeat
}

#outer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: -80px;
}

#outer[id] {
    display: table;
    position: absolute;
}

#middle {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center
}

#middle[id] {
    display: table-cell;
    vertical-align: middle;
    position: static
}

#inner {
    position: relative;
    top: -50%;
    text-align: left;
    margin-top: -15%;
    margin-left: 60%;
    margin-right: auto;
    width: 550px;
    height: 235px;
/*     background-image: url("../images/user_login.jpg");
    background-repeat: no-repeat */
}

.brand {
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 20px;
}

.control-label {
    padding-top: 9px;
    text-align: right;
}

div.btn-style-center {
	text-align: center;
}

#loginBtn {
	width: 100%;
}